<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <!-- about -->
  <div id="about" class="us">
    <div class="description">
      <h2>Malissim...</h2>
      <h4>Who are we?</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum modi dicta aut cumque aliquid itaque necessitatibus, nostrum culpa similique libero!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore aut doloremque a!
      </p>
    </div>
    <img src="/img/about.svg" class="resp-image" alt="twitter icon">
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
